/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/**{*/
/*  margin:0;*/
/*  padding:0;*/
/*  box-sizing: border-box;*/
/*}*/

p, ol, ul, td , .flash{
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

td {
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
}

input[type="text"] {
    padding: 1px 2px;
}

textarea {
    padding: 2px 2px;
}

input[type="submit"] {
    padding: 1px 6px;
}

body {
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

.b {
    font-weight: bold;
}

.redirect{
    display: flex;
    padding-top: 10px;
}

.flash{
    color: green;
}

.redirect-show{
    display: flex;
}

.box{
    margin-bottom: 10px
}

.title-text{
    display: block;
}

.error-message{
    font-size: 12px;
}

.action{
    margin-bottom: 10px;
}

.error-box{
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

.error-top {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
}

.error-title{
    padding: 2px;
    background-color: red;
    display: table;
}

